<h1>Station {{vm.station.name}}</h1>
<h3>Quartier {{vm.station.district}}</h3>
<div>
  <label for="slots_available_{{vm.station.id}}">
    <span>Places disponibles :</span>
    <meter id="slots_available_{{vm.station.id}}" min="0" optimum="{{(vm.station.totalslots)/2}}" low="{{(vm.station.totalslots)*1/4}}" high="{{(vm.station.totalslots)*3/4}}" max="{{vm.station.totalslots}}" value="{{vm.station.slotsavailable}}">{{vm.station.slotsavailable}}</meter>
  </label>
</div>
<div>
  <label for="bikes_available_{{vm.station.id}}">
    <span>Vélos disponibles :</span>
    <meter id="bikes_available_{{vm.station.id}}" min="0" optimum="{{(vm.station.totalslots)/2}}" low="{{(vm.station.totalslots)*1/4}}" high="{{(vm.station.totalslots)*3/4}}" max="{{vm.station.totalslots}}" value="{{vm.station.bikesavailable}}">{{vm.station.bikesavailable}}</meter>
  </label>
</div>
<nav>
  <button data-ng-click="vm.geolocalize()">Geolocalize</button>
</nav>
<section id="map">
  <div class="map" data-ui-map="vm.map" data-ui-options="vm.options"></div>
</section>
