<ul class="header-menu">
  <li class="header-menu__item">
    <a class="header-menu-link" href="/">
      <img class="header-menu__image" src="" alt="" />
    </a>
  </li>
  <li class="header-menu__item">
    <a class="header-menu-link" href="/">
      <img class="header-menu__image" src="" alt="" />
    </a>
  </li>
  <li class="header-menu__item">
    <a class="header-menu-link" href="/">
      <img class="header-menu__image" src="" alt="" />
    </a>
  </li>
  <li class="header-menu__item">
    <a class="header-menu-link" href="/">
      <img class="header-menu__image" src="" alt="" />
    </a>
  </li>
  <li class="header-menu__item">
    <a class="header-menu-link" href="/">
      <img class="header-menu__image" src="" alt="" />
    </a>
  </li>
</ul>
