<ul class="home-menu">
  <li class="home-menu__item">
    <a class="home-menu__link" href="/bikes" title="Bus & Metro">
      <img class="home-menu__image" src="/images/" alt="Bus & Metro"/>
      <label>Bus & Metro</label>
    </a>
  </li>
  <li class="home-menu__item">
    <a class="home-menu__link" href="/" title="Arrêts à proximité">
      <img class="home-menu__image" src="/images/" alt="Arrêts à proximité"/>
      <label>Arrêts à proximité</label>
    </a>
  </li>
  <li class="home-menu__item">
    <a class="home-menu__link" href="/" title="Alertes">
      <img class="home-menu__image" src="/images/" alt="Alertes"/>
      <label>Alertes</label>
    </a>
  </li>
  <li class="home-menu__item">
    <a class="home-menu__link" href="/" title="LE vélo STAR">
      <img class="home-menu__image" src="/images/" alt="LE vélo STAR"/>
      <label>LE vélo STAR</label>
    </a>
  </li>
  <li class="home-menu__item">
    <a class="home-menu__link" href="/" title="Parc relais">
      <img class="home-menu__image" src="/images/" alt="Parc relais"/>
      <label>Parc relais</label>
    </a>
  </li>
  <li class="home-menu__item">
    <a class="home-menu__link" href="/" title="Calcul d'itinéraires">
      <img class="home-menu__image" src="/images/" alt="Calcul d'itinéraires"/>
      <label>Calcul d'itinéraires</label>
    </a>
  </li>
</ul>
