.home-page {
  background-color: gray;
}
.home-menu {
  padding: 10%;
  font-size: 0;
}
.home-menu__item {
  display: inline-block;
  width: 50%;
  background-color: #FFF;
  font-size: 12px;
  height: 100px;
  text-align: center;
}
.home-menu__link {
  display: block;
}
.home-menu__image {
  display: block;
  background-color: red;
  width: 50%;
  margin: 0 25%
}
