<h1>Welcome in velocity app. <span class="Application__Version">v{{vm.appVersion}}</span></h1>
<section class="Feature">
  <h3 class="Feature__Title">Velocity features</h3>
  <ul class="Feature__List">
    <li class="Feature__Item">
      <span class="Feature__Version">v0.0.1</span>
      <span>Bike station list page</span>
    </li>
    <li class="Feature__Item">
      <span class="Feature__Version">v0.0.1</span>
      <span>Bike station detail page</span>
    </li>
    <li class="Feature__Item">
      <span class="Feature__Version">v0.0.2</span>
      <span>Session storage based HTTP cache</span>
    </li>
    <li class="Feature__Item">
      <span class="Feature__Version">v0.0.3</span>
      <span>Line list page</span>
    </li>
  </ul>
</section>
